<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('guest.home') }}">Back to Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('guest.offer_jobs') }}">Offers (<span id=OfferCount>0</span>)</a>
            <a class="nav-link" href="{{ url_for('guest.interview_jobs') }}">Interviewing (<span id=InterviewCount>0</span>)</a>
            <a class="nav-link" href="{{ url_for('guest.applied_to') }}">Applied (<span id=AppliedCount>0</span>)</a>
            <a class="nav-link" href="{{ url_for('guest.interested_in') }}">Interested (<span id=InterestCount>0</span>)</a>
            <a class="nav-link" href="{{ url_for('guest.ignored_jobs') }}">Ignored (<span id=IgnoreCount>0</span>)</a>
            {% if session.get('loggedin') %}
                <a class="nav-link" href="{{ url_for('appadmin.logout') }}">Logout</a>
            {% endif %}
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<script>
  $(document).ready(function(){
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var ret_json = JSON.parse(this.response);
            $("#OfferCount").html(ret_json['offer']);
            $("#InterviewCount").html(ret_json['interview']);
            $("#AppliedCount").html(ret_json['applied']);
            $("#InterestCount").html(ret_json['interested']);
            $("#IgnoreCount").html(ret_json['ignore']);
        }
      }
      req.open("GET", "/api/hit-by-status-count", true);
      req.send();
  })
  </script>
